lambdas-build/*
lambdas-src/*
node_modules/

# exceptions to the rule ( we want these folders in our repo)
!lambdas-build/.gitkeep
!lambdas-src/.gitkeep

# we want test lambda for display purposes
!lambdas-src/example-lambda
!lambdas-build/example-lambda
